<ion-fab horizontal="start" vertical="top" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="construct-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <app-map-geosearch></app-map-geosearch>

    <ng-container *ngIf="(currentProject$ | async) !== null">
      <ion-fab-button color="light" (click)="onAddPhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
      <!-- <ion-fab-button color="light">
        <ion-icon name="analytics"></ion-icon>
      </ion-fab-button> -->
      <!-- <ion-fab-button color="light" (click)="startTracking()">
        <ion-icon name="footsteps"></ion-icon>
      </ion-fab-button> -->
    </ng-container>

    <ion-fab-button size="small" color="light" [routerLink]="['/project-create']">
      <ion-icon name="bookmark">
      </ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>