<ion-fab horizontal="start" vertical="top" slot="fixed">
  <ion-fab-button color="primary">
    <ion-icon name="construct-outline"></ion-icon>
  </ion-fab-button>
  <ion-fab-list>
    <app-map-geosearch></app-map-geosearch>

    <ion-fab-button color="light" (click)="activateAddressInfo()">
      <i class="fg-poi-info fg-lg"></i>
    </ion-fab-button>

    <ng-container *ngIf="(currentProject$ | async) !== undefined">

      <ion-fab-button color="light" (click)="onAddPhoto()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>

      <app-map-draw-fab></app-map-draw-fab>
    </ng-container>

    <app-map-save-project-fab *ngIf="(currentProject$ | async) === undefined"></app-map-save-project-fab>
  </ion-fab-list>
</ion-fab>