<ion-list>
  <ion-item>
    <ion-icon name="information-circle-outline" slot="start"></ion-icon>
    <ion-label>
      <p>Navn</p>
      <h3>{{properties.name }}</h3>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="properties.description.length > 0">
    <ion-icon name="chatbox-outline" slot="start"></ion-icon>
    <ion-label class="ion-text-wrap">
      <p>Beskrivelse</p>
      <h3>{{ properties.description }}</h3>
    </ion-label>
  </ion-item>

  <ion-item *ngIf="properties.geom_measure">
    <i slot="start" *ngIf="properties.geom_type === 'POLYGON'" class="fg-measure-area"></i>
    <i slot="start" *ngIf="properties.geom_type === 'LINESTRING'" class="fg-measure-line"></i>
    <ion-label class="ion-text-wrap">
      <p>{{properties.geom_type === 'POLYGON' ? 'Areal' : 'Længde'}}</p>
      <h3>
        {{ properties.geom_measure }} {{ properties.geom_type === 'POLYGON' ? 'm2' : 'm' }}
      </h3>
    </ion-label>
  </ion-item>
</ion-list>