<ion-modal [isOpen]="showModal$ | async" [initialBreakpoint]="0.8" [breakpoints]="[0, 0.8]">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title class="ion-text-center">
          Adressesøgning
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div class="autocomplete-container">
        <input #input placeholder="Søg adresse" type="search" id="dawa-autocomplete-input">
        <!-- Suggestions will appear here -->
      </div>
    </ion-content>
  </ng-template>
</ion-modal>