<ion-header [translucent]="true">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title class="">
      Projekter
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="(projects$ | async).length === 0" class="ion-text-center ion-padding">
    <ion-text>Du skal logge ind for at se
      projekter</ion-text>
    <br>
    <ion-button class="ion-padding" routerLink="/login">Log ind</ion-button>
  </div>

  <ion-list *ngIf="(projects$ | async).length > 0">
    <ion-item *ngFor="let project of projects$ | async">
      <ion-label (click)="goToProject(project)" [routerLink]="">
        <h2>{{project.name}}</h2>
        <h3>{{project.inserted_at | date}}</h3>
        <p>{{project.description}}</p>
      </ion-label>
      <ion-fab-button size="small" color="light" [routerLink]="['./', project.id]">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-item>
  </ion-list>
</ion-content>