<ion-badge *ngIf="(disableMatrikel$ | async) && boundsSource === undefined">Zoom ind for at
  vælge matrikler</ion-badge>
<ion-badge *ngIf="boundsSource === bounds.Draw">Tryk på kortet for at tegne</ion-badge>
<ion-fab
  *ngIf="((selectedArea$ | async) && boundsSource === bounds.Matrikel) || boundsSource === bounds.Draw || (boundsSource === bounds.ViewExtent) "
  vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button (click)="toggleModal()">
    <ion-icon name="checkmark-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-segment (ionChange)="selectionMethodChanged($event)" mode="md">
  <ion-segment-button [disabled]="(disableMatrikel$ | async)" [value]="bounds.Matrikel">
    <ion-label>Matrikel</ion-label>
  </ion-segment-button>
  <!-- <ion-segment-button [value]="bounds.Draw">
    <ion-label>Tegn</ion-label>
  </ion-segment-button> -->
  <ion-segment-button [value]="bounds.ViewExtent">
    <ion-label>Kortudsnit</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-modal [isOpen]="showModal" [initialBreakpoint]="0.4" [breakpoints]="[0, 0.4, 0.5]">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <form (ngSubmit)="onCreateProject()" [formGroup]="project">
        <ion-item>
          <ion-input placeholder="Navn" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Beskrivelse" rows="3" formControlName="description"></ion-textarea>
        </ion-item>
        <ion-button type="submit" size="large" expand="full" color="primary">Opret projekt</ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>