<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>
      Indstillinger
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="(signedIn$ | async) === true" (click)="signOut()" [routerLink]="['/app/map']">
      <ion-icon name="log-out-outline" aria-hidden="true" slot="start"></ion-icon>
      <ion-label>Log ud</ion-label>
    </ion-item>

    <ion-item *ngIf="(signedIn$ | async) === false" [routerLink]="['/login']">
      <ion-icon name="log-in-outline" aria-hidden="true" slot="start"></ion-icon>
      <ion-label>Log ind</ion-label>
    </ion-item>
  </ion-list>

</ion-content>