<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-title>Tilføj lag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list *ngFor="let source of layersSources$ | async; trackBy:trackItems">
    <ion-list-header color="light">
      <ion-label role="heading" aria-level="2">
        {{source.name}}
      </ion-label>
    </ion-list-header>
    <ion-item *ngFor="let layer of source.layers; trackBy:trackItems">
      <ion-label>{{layer.label}}</ion-label>
      <ion-toggle (ionChange)="onLayerToggle($event, source, layer)" slot="end" [name]="layer.name"
        [checked]="layer.addedToMap">
      </ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button color="primary" (click)="dismiss()">
    <ion-icon name="checkmark"></ion-icon>
  </ion-fab-button>
</ion-fab>