.current-project {
    position: fixed;
    z-index: 100;
    top: 10px;
    width: 100%;
    text-align: center;
}

.project-chip {
    background: rgba(255, 255, 255, 0.4);
}

ion-progress-bar {
    position: fixed;
    top: 0px;
    z-index: 100;
}

app-map-draw-tool {
    position: fixed;
    top: calc(50% - 76px);
}

.full-width-bottom-tool {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
}

app-map-info-tool {
    text-align: center;
}
