<ion-content>
    <ion-progress-bar *ngIf="(loading$ | async) || (loadingImage$ | async)" type="indeterminate" color="tertiary">
    </ion-progress-bar>

    <app-map>
        <app-map-layers-control></app-map-layers-control>
        <app-map-legend-fab></app-map-legend-fab>
        <app-map-feature-info></app-map-feature-info>
        <app-map-tools>
            <app-info-tool class="full-width-bottom-tool" *ngIf="(activatedMapTools$ | async).includes('addressInfo')">
            </app-info-tool>
            <app-map-geolocation *ngIf="(activatedMapTools$ | async).includes('saveProject') === false">
            </app-map-geolocation>
            <app-map-draw-tool *ngIf="(activatedMapTools$ | async).includes('draw')"></app-map-draw-tool>
            <app-photo-tool class="full-width-bottom-tool" *ngIf="(activatedMapTools$ | async).includes('takePhoto')">
            </app-photo-tool>
            <app-save-project class="full-width-bottom-tool"
                *ngIf="(activatedMapTools$ | async).includes('saveProject')">
            </app-save-project>
        </app-map-tools>
    </app-map>

    <div class="current-project" *ngIf="(selectedProject$ | async) !== null">
        <ion-chip class="project-chip" color="primary" outline>
            <ion-label>{{ (selectedProject$ | async).name }}</ion-label>
            <ion-icon (click)="onClearProject()" name="close-circle"></ion-icon>
        </ion-chip>
    </div>



    <!-- MAP TOOLS -->

</ion-content>